/.idea
/Client/target
/Client/build
/Server/target
/Server/build
/Common/target
/Common/build
/uploads

/gradle/wrapper/gradle-wrapper.properties
/build/tmp/jar/MANIFEST.MF
target/File-Transmitter-1.0.jar

Client/.DS_Store
Client/src/.DS_Store
Client/src/main/.DS_Store
Common/.DS_Store
Common/src/.DS_Store
Common/src/main/.DS_Store
Server/.DS_Store
src/.DS_Store
src/main/.DS_Store

.gradle

*.txt