/.idea
/Client/target
/Client/build

/Server/target
/Server/build

/Common/target
/Common/build
movie.mp4
/uploads/
.DS_Store
.gradle
*.txt
*.class
gradle/wrapper/gradle-wrapper.properties
build/tmp/jar/MANIFEST.MF
target/File-Transmitter-1.0.jar
